<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="recipesMenu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="ion-text-center ion-margin-top">
    <h1 class="montserrat">BOGA</h1>
  </div>
  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <ion-card class="img-75 img-center">
      <ion-img src="https://ecs7.tokopedia.net/blog-tokopedia-com/uploads/2018/05/Resep-Rendang-Daging-Khas-Padang.jpg" ></ion-img>
      <div class="overlay">
        <ion-card-title class="ion-text-center"><ion-icon name="add-circle-outline"></ion-icon></ion-card-title>
      </div>
    </ion-card>
    <div class="ion-margin-top">
      <ion-label class="montserrat ion-margin-left">Nama Resep</ion-label>
      <ion-item> 
        <ion-input type="text" ngModel name="nama"></ion-input>
      </ion-item>
    </div>
    <div class="ion-margin-top">
      <ion-label class="montserrat ion-margin-left">Bahan</ion-label>
      <ion-item> 
        <ion-input type="text" ngModel name="bahan"></ion-input>
      </ion-item>
      <ion-button size="small"><ion-icon name="add-outline"></ion-icon>Add More</ion-button>
    </div>
    <div class="ion-margin-top">
      <ion-label class="montserrat ion-margin-left">Langkah - Langkah</ion-label>
      <ion-item> 
        <ion-input type="text" ngModel name="langkah"></ion-input>
      </ion-item>
      <ion-button size="small"><ion-icon name="add-outline"></ion-icon>Add More</ion-button>
    </div>
    <div class="ion-margin-top">
      <ion-label class="montserrat ion-margin-left">Url Video</ion-label>
      <ion-item> 
        <ion-input type="text" ngModel name="url"></ion-input>
      </ion-item>
    </div>
    <ion-button expand="block">Submit</ion-button>
  </form> 
</ion-content>
