ion-header {
  ion-toolbar {
    --background: var(--boga-green-background);
  }
}
ion-content {
  --background: var(--boga-background);

  .montserrat {
    font-weight: bold;
    font-family: "Montserrat";
  }

  .montserrat-creator {
    font-weight: bold;
    font-family: "Montserrat";
    font-size: medium;
  }

  ion-item {
    --border-bottom-width: 2px;
    --border-color: black;
  }

  div {
    .border {
      --background: rgba(0, 0, 0, 0);
    }
  }

  .hr {
    border-bottom: 1px solid black;
    margin: 10px 0;
    width: 95%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .img-75 {
    border: 0.5px solid rgba(0, 0, 0, 0.7);
    width: 75px;
    height: 75px;
    margin-bottom: 0px;
  }
}
