<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-slides pager="true">
    <ion-slide>
      <ion-card>
        <ion-img src="https://ecs7.tokopedia.net/blog-tokopedia-com/uploads/2018/05/Resep-Rendang-Daging-Khas-Padang.jpg"></ion-img>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-img src="https://ecs7.tokopedia.net/blog-tokopedia-com/uploads/2018/05/Resep-Rendang-Daging-Khas-Padang.jpg"></ion-img>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-img src="https://ecs7.tokopedia.net/blog-tokopedia-com/uploads/2018/05/Resep-Rendang-Daging-Khas-Padang.jpg"></ion-img>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-img src="https://ecs7.tokopedia.net/blog-tokopedia-com/uploads/2018/05/Resep-Rendang-Daging-Khas-Padang.jpg"></ion-img>
      </ion-card>
    </ion-slide>
  </ion-slides>
  <div class="ion-text-center"><h1 class="montserrat">Nasi Goreng</h1></div>
  <div class="ion-text-center"><h2 class="montserrat" style="font-size: medium;">oleh Bunda Kecil</h2></div>
  <div class="hr ion-justify-content-center"></div>
  <div class="ion-margin">
    <div class="ion-text-start">
      <h1 class="montserrat">Bahan :</h1>
    </div>
    <ion-grid>
      <ion-row>
        <ion-col class="montserrat">1. Bawang</ion-col>
        <ion-col class="montserrat">2. Bawang</ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="montserrat">3. Bawang</ion-col>
        <ion-col class="montserrat">4. Nasi</ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="montserrat">5. Nasi</ion-col>
        <ion-col class="montserrat">6. Nasi</ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="ion-margin-top hr ion-justify-content-center"></div>
  <div class="ion-margin">
    <div class="ion-text-start">
      <h1 class="montserrat">Langkah - Langkah :</h1>
    </div>
    <ion-list class="ion-margin-left">
      <p class="montserrat">1. Goreng...</p>
      <p class="montserrat">2. Masukkan..</p>
      <p class="montserrat">3. Sajikan...</p>
    </ion-list>
  </div>
  <div class="ion-margin-top hr ion-justify-content-center"></div>
  <div class="ion-text-start ion-margin-start">
    <h2 class="montserrat">See Video Tutorial</h2>
  </div>
  <div class="ion-margin-top hr ion-justify-content-center"></div>
  <div class="ion-text-start ion-margin">
    <h2 class="montserrat">Rate</h2>
  </div>
</ion-content>
