<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title class="montserrat">Recipe Detail</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content *ngIf="stateTrue == true && userTrue == true">
  <ion-card class="img-center">
    <ion-img [src]="recipe.image_url"></ion-img>
  </ion-card>
  <div class="ion-text-center"><h1 class="montserrat">{{recipe.name}}</h1></div>
  <div class="ion-text-center"><h2 class="montserrat" style="font-size: medium;">oleh Bunda Kecil</h2></div>
  <div class="hr ion-justify-content-center"></div>
  <div class="ion-margin">
    <div class="ion-text-start">
      <h1 class="montserrat">Bahan :</h1>
    </div>
    <ion-text class="montserrat">{{recipe.ingredient}}</ion-text>
  </div>
  <div class="ion-margin-top hr ion-justify-content-center"></div>
  <div class="ion-margin">
    <div class="ion-text-start">
      <h1 class="montserrat">Langkah - Langkah :</h1>
    </div>
    <ion-list class="ion-margin-left">
      <ion-text class="montserrat">{{recipe.steps}}</ion-text>
    </ion-list>
  </div>
  <div class="ion-margin-top hr ion-justify-content-center"></div>
  <div class="ion-text-start ion-margin" *ngIf="recipe.id_user == user.id">
    <ion-button color="dark" expand="block" [routerLink]="['./','edit']">Edit</ion-button>
  </div>
  <div class="ion-margin-top hr ion-justify-content-center" *ngIf="recipe.id_user == user.id"></div>
  <div class="ion-text-start ion-margin" *ngIf="recipe.id_user == user.id">
    <ion-button color="dark" expand="block">Delete</ion-button>
  </div>
</ion-content>
