ion-header {
  ion-toolbar {
    --background: var(--boga-green-background);
  }
}
ion-content {
  --background: var(--boga-background);

  ion-card {
    border: 1px solid black;
    width: 70%;
  }

  .montserrat {
    font-weight: bold;
    font-family: "Montserrat";
  }

  .hr {
    border-bottom: 1px solid black;
    margin: 10px 0;
    width: 95%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  h1 {
    font-weight: bold;
  }

  ion-list {
    background-color: transparent;
  }
}
