<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="recipesMenu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img class="img-profile" [src]="user.avatar_url"></ion-img>
  <div class="ion-text-center ion-margin-top">
    <ion-button color="dark" expand="block" class="button-edit-profile" (click)="changeEdit()">Edit Profile</ion-button>
  </div>
  <div class="ion-margin-top">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-label>Nama</ion-label>
        </ion-col>
        <ion-col>
          <ion-label>{{user.first_name}} {{user.last_name}}</ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="hr ion-justify-content-center"></div>
  <div class="ion-margin-top">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-label>Email</ion-label>
        </ion-col>
        <ion-col>
          <ion-label>{{user.email}}</ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="hr ion-justify-content-center"></div>
  <div class="ion-margin-top">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-label>Gender</ion-label>
        </ion-col>
        <ion-col>
          <ion-label>{{user.gender}}</ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="hr ion-justify-content-center"></div>
  <div class="ion-margin-top">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-label>Birthday</ion-label>
        </ion-col>
        <ion-col>
          <ion-label>{{user.date_of_birth | date:'mediumDate'}}</ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="hr ion-justify-content-center"></div>
  <div class="ion-margin-top">
    <ion-grid>
      <ion-row routerLink= "myrecipe">
        <ion-col>
          <ion-label>My Recipes</ion-label>
        </ion-col>
        <ion-col size="2">

        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="hr ion-justify-content-center"></div>
</ion-content>
