<ion-content class="ion-padding">
  <div class="img-center"><ion-img src="assets/icon/Logo.png"></ion-img></div>
  <div class="ion-text-center"><h1>BOGA</h1></div>
  <form [formGroup]="form" (ngSubmit)="registerUser(form.value)">
    <div class="ion-margin-top">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-label>Nama Depan</ion-label>
          </ion-col>
          <ion-col size="8">
            <ion-item lines="none" class="roundedInput" expand="block">
              <ion-input type="text" formControlName="first_name"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_message.first_name">
              <ion-text color="danger" *ngIf="form.get('first_name').hasError(validation.type) && (form.get('first_name').dirty || form.get('first_name').touched)">
                {{validation.message}}
              </ion-text>
            </ng-container>
          </div>
        </ion-row>
        <ion-row>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of errors_message.first_name">
              <ion-text color="danger" *ngIf="errors_message.first_name">
                {{validation}}
              </ion-text>
            </ng-container>
          </div>
        </ion-row>
      </ion-grid>
    </div>
    <div class="ion-margin-top">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-label>Nama Belakang</ion-label>
          </ion-col>
          <ion-col size="8">
            <ion-item lines="none" class="roundedInput" expand="block">
              <ion-input type="text" formControlName="last_name"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div class="ion-margin-top">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-label>Email</ion-label>
          </ion-col>
          <ion-col size="8">
            <ion-item lines="none" class="roundedInput" expand="block">
              <ion-input type="email" formControlName="email"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_message.email">
              <ion-text color="danger" *ngIf="form.get('email').hasError(validation.type) && (form.get('email').dirty || form.get('email').touched)">
                {{validation.message}}
              </ion-text>
            </ng-container>
          </div>
        </ion-row>
        <ion-row>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of errors_message.email">
              <ion-text color="danger" *ngIf="errors_message.email">
                {{validation}}
              </ion-text>
            </ng-container>
          </div>
        </ion-row>
      </ion-grid>
    </div>
    <div class="ion-margin-top">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-label>Password</ion-label>
          </ion-col>
          <ion-col size="8">
            <ion-item lines="none" class="roundedInput" expand="block">
              <ion-input type="password" formControlName="password"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_message.password">
              <ion-text color="danger" *ngIf="form.get('password').hasError(validation.type) && (form.get('password').dirty || form.get('password').touched)">
                {{validation.message}}
              </ion-text>
            </ng-container>
          </div>
        </ion-row>
        <ion-row>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of errors_message.password">
              <ion-text color="danger" *ngIf="errors_message.password">
                {{validation}}
              </ion-text>
            </ng-container>
          </div>
        </ion-row>
      </ion-grid>
    </div>
    <div class="ion-margin-top">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-label>Gender</ion-label>
          </ion-col>
          <ion-col size="8">
            <ion-item lines="none" class="roundedInput">
              <ion-select formControlName="gender" placeholder="Select One">
                <ion-select-option value="female">Female</ion-select-option>
                <ion-select-option value="male">Male</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_message.gender">
              <ion-text color="danger" *ngIf="form.get('gender').hasError(validation.type) && (form.get('gender').dirty || form.get('gender').touched)">
                {{validation.message}}
              </ion-text>
            </ng-container>
          </div>
        </ion-row>
        <ion-row>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of errors_message.gender">
              <ion-text color="danger" *ngIf="errors_message.gender">
                {{validation}}
              </ion-text>
            </ng-container>
          </div>
        </ion-row>
      </ion-grid>
    </div>
    <div class="ion-margin-top">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-label>Date of Birth</ion-label>
          </ion-col>
          <ion-col size="8">
            <ion-item lines="none" class="roundedInput" expand="block">
              <ion-datetime displayFormat="DD MMMM YYYY" min="1920-01-01" max="2015-12-31" formControlName="dob"></ion-datetime>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_message.dob">
              <ion-text color="danger" *ngIf="form.get('dob').hasError(validation.type) && (form.get('dob').dirty || form.get('dob').touched)">
                {{validation.message}}
              </ion-text>
            </ng-container>
          </div>
        </ion-row>
        <ion-row>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of errors_message.date_of_birth">
              <ion-text color="danger" *ngIf="errors_message.date_of_birth">
                {{validation}}
              </ion-text>
            </ng-container>
          </div>
        </ion-row>
      </ion-grid>
    </div>
    <div class="ion-margin-top">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-label>Photo</ion-label>
          </ion-col>
          <ion-col size="8">
            <ion-button style="margin-top:0px;" size="small" (click)="getPicture('camera')">
              <ion-icon name="camera" slot="start"></ion-icon>
              <ion-label>Camera</ion-label>
            </ion-button>
            <ion-button style="margin-top:0px;" size="small" (click)="getPicture('gallery')">
              <ion-icon name="image" slot="start"></ion-icon>
              <ion-label>Gallery</ion-label>
            </ion-button>
          </ion-col>
          <input type="file" *ngIf="isDesktop" #filePicker (change)="onFileChoose($event)" formControlName="avatar_url">
        </ion-row>
        <ion-row>
          <ion-card *ngIf="photo">
            <ion-card-content>
              <img [src]="photo">
            </ion-card-content>
          </ion-card>
        </ion-row>
        <ion-row>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of errors_message.photo">
              <ion-text color="danger" *ngIf="errors_message.photo">
                {{validation}}
              </ion-text>
            </ng-container>
          </div>
        </ion-row>
      </ion-grid>
    </div>
    <div class="ion-text-center ion-margin-top">
      <ion-button type="submit" color="dark" size="large" [disabled]="!form.valid">Sign Up</ion-button>
    </div>
  </form>
  <div class="ion-text-center ion-margin-top">
    <p>Already have an account yet? <a style="text-decoration: none;" href="/login">Log In</a> now</p>
  </div>
</ion-content>
