ion-header {
  ion-toolbar {
    --background: #83bc6f;
  }
}
ion-content {
  --background: linear-gradient(#83bc6f, #fff);

  .montserrat {
    font-weight: bold;
    font-family: "Montserrat";
  }

  ion-item {
    --border-bottom-width: 2px;
    --border-color: black;
  }

  div {
    .border {
      --background: rgba(0, 0, 0, 0);
    }
  }

  .hr {
    border-bottom: 1px solid black;
    margin: 10px 0;
    width: 95%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .img-75 {
    border: 0.5px solid rgba(0, 0, 0, 0.7);
    width: 75%;
    height: 75%;
    margin-bottom: 0px;
    border-radius: 15px;
  }

  .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 99;
    bottom: 0px;
    background: rgba(128, 128, 128, 0.5);
    ion-card-title {
      --color: #fff;
      margin-top: 10%;
    }
  }
}
