<ion-grid *ngFor="let recipe of recipesUser">
  <ion-row [routerLink]="['/detail/',recipe.id]">
    <ion-col>
      <ion-card>
        <ion-img [src]="recipe.image_url"></ion-img>
      </ion-card>
    </ion-col>
    <ion-col>
      <ion-list>
        <h3>{{recipe.name}}</h3>
        <ng-container *ngFor="let type of types">
          <h5 *ngIf="recipe.id_type == type.id">{{type.name}}</h5>
        </ng-container>
      </ion-list>
    </ion-col>
  </ion-row>
  <div class="ion-margin-top hr ion-justify-content-center"></div>
</ion-grid>
