<ion-grid>
  <ion-row>
    <ion-col>
      <ion-card>
        <ion-img src="https://upload.wikimedia.org/wikipedia/commons/2/28/Bakso_mi_bihun.jpg"></ion-img>
      </ion-card>
    </ion-col>
    <ion-col>
      <ion-list>
        <h3>Basko</h3>
        <h5>Makanan Berat</h5>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
      </ion-list>
    </ion-col>
  </ion-row>
  <div class="ion-margin-top hr ion-justify-content-center"></div>
  <ion-row>
    <ion-col>
      <ion-card>
        <ion-img src="https://upload.wikimedia.org/wikipedia/commons/2/28/Bakso_mi_bihun.jpg"></ion-img>
      </ion-card>
    </ion-col>
    <ion-col>
      <ion-list>
        <h3>Basko</h3>
        <h5>Makanan Berat</h5>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
      </ion-list>
    </ion-col>
  </ion-row>
  <div class="ion-margin-top hr ion-justify-content-center"></div>
  <ion-row>
    <ion-col>
      <ion-card>
        <ion-img src="https://upload.wikimedia.org/wikipedia/commons/2/28/Bakso_mi_bihun.jpg"></ion-img>
      </ion-card>
    </ion-col>
    <ion-col>
      <ion-list>
        <h3>Basko</h3>
        <h5>Makanan Berat</h5>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
      </ion-list>
    </ion-col>
  </ion-row>
  <div class="ion-margin-top hr ion-justify-content-center"></div>
  <ion-row>
    <ion-col>
      <ion-card>
        <ion-img src="https://upload.wikimedia.org/wikipedia/commons/2/28/Bakso_mi_bihun.jpg"></ion-img>
      </ion-card>
    </ion-col>
    <ion-col>
      <ion-list>
        <h3>Basko</h3>
        <h5>Makanan Berat</h5>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-grid>
