<ion-grid>
  <ion-row>
    <ion-col size="6">
      <ion-card>
        <ion-img src="https://upload.wikimedia.org/wikipedia/commons/2/28/Bakso_mi_bihun.jpg"></ion-img>
        <ion-card-header>
          <ion-card-subtitle>Makanan Berat</ion-card-subtitle>
          <ion-card-title>Basko</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size="6">
      <ion-card>
        <ion-img src="https://upload.wikimedia.org/wikipedia/commons/2/28/Bakso_mi_bihun.jpg"></ion-img>
        <ion-card-header>
          <ion-card-subtitle>Makanan Berat</ion-card-subtitle>
          <ion-card-title>Basko</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="6">
      <ion-card>
        <ion-img src="https://upload.wikimedia.org/wikipedia/commons/2/28/Bakso_mi_bihun.jpg"></ion-img>
        <ion-card-header>
          <ion-card-subtitle>Makanan Berat</ion-card-subtitle>
          <ion-card-title>Basko</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size="6">
      <ion-card>
        <ion-img src="https://upload.wikimedia.org/wikipedia/commons/2/28/Bakso_mi_bihun.jpg"></ion-img>
        <ion-card-header>
          <ion-card-subtitle>Makanan Berat</ion-card-subtitle>
          <ion-card-title>Basko</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="6">
      <ion-card>
        <ion-img src="https://upload.wikimedia.org/wikipedia/commons/2/28/Bakso_mi_bihun.jpg"></ion-img>
        <ion-card-header>
          <ion-card-subtitle>Makanan Berat</ion-card-subtitle>
          <ion-card-title>Basko</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size="6">
      <ion-card>
        <ion-img src="https://upload.wikimedia.org/wikipedia/commons/2/28/Bakso_mi_bihun.jpg"></ion-img>
        <ion-card-header>
          <ion-card-subtitle>Makanan Berat</ion-card-subtitle>
          <ion-card-title>Basko</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="6">
      <ion-card>
        <ion-img src="https://upload.wikimedia.org/wikipedia/commons/2/28/Bakso_mi_bihun.jpg"></ion-img>
        <ion-card-header>
          <ion-card-subtitle>Makanan Berat</ion-card-subtitle>
          <ion-card-title>Basko</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size="6">
      <ion-card>
        <ion-img src="https://upload.wikimedia.org/wikipedia/commons/2/28/Bakso_mi_bihun.jpg"></ion-img>
        <ion-card-header>
          <ion-card-subtitle>Makanan Berat</ion-card-subtitle>
          <ion-card-title>Basko</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>