<ion-grid>
  <ion-row>
    <ion-col size="6" *ngFor="let recipe of recipesUser">
      <ion-card [routerLink]="['/detail/',recipe.id]">
        <ion-img [src]="recipe.image_url"></ion-img>
        <ion-card-header>
          <ng-container *ngFor="let type of types">
            <ion-card-subtitle *ngIf="recipe.id_type == type.id">{{type.name}}</ion-card-subtitle>
          </ng-container>
          <ion-card-title>{{recipe.name}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>